@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Fredoka', sans-serif;

}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.partnership-blk {
  background-image: url("./assets/lastbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 690px;
}

@media (max-width: 1023.98px) {
  .partnership-blk {
    min-height: 420px; /* Height for small screens */
    background-position: center;
  }
}

@media (max-width: 1199.98px) {
    .partnership-blk {
        min-height: 480px; /* Height for medium screens */
    }
}

/* Responsive padding adjustments */
@media (min-width: 576px) {
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important;
  }
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}
